<% include Webpacker::Helper %>

<template>
  <div id="app">
    <p>{{ message }}</p>
    <%= image_pack_tag("pause.svg") %>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      message: "Hello Vue!"
    }
  }
}
</script>

<style scoped>
p {
  font-size: 2em;
  text-align: center;
}
</style>
